# Python
*.pyc
__pycache__/
.venv/
.env

static/output.css

tailwindcss.exe

# Django
db.sqlite3
/staticfiles/

# VSCode
.vscode/

# Node
node_modules/

# OS
.DS_Store

# Vercel
.vercel/

# Logs
*.log
