{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoyalStore</title>
  <link rel="icon" type="image/x-icon" href="{% static 'royal4.png'%}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% tailwind_css %}
</head>
<body class="relative h-screen bg-[rgb(19,19,19)] overflow-y-scroll overflow-x-hidden ">

  <video autoplay muted loop playsinline class="fixed top-0 left-0 w-full h-full object-cover -z-10">
    <source src="{% static 'videos/video.mp4' %}" type="video/mp4">
  </video>

  <nav class="nav bg-black bg-opacity-70 p-4 flex items-center justify-between rounded-xl w-full fixed top-0 z-50">
    <div class="text-white flex justify-center place-items-center text-xl sm:text-2xl font-bold"> 
      <img src="{% static 'royal.png'%}" alt="" class='h-10 w-14 sm:h-10 sm:w-16 md:h-14 md:w-24 lg:h-20 lg:w-32'>
    </div>
    <div class="credentials px-2 flex gap-2 py-2 sm:px-2 md:px-5 lg:px-8 sm:py-2 md:py-3 lg:py-5 sm:gap-2 md:gap-3 lg:gap-4  place-items-center justify-center text-center z-50">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" class='flex'>
     <p class='text-xs sm:text-lg md:text-xl lg:text-2xl text-white'>Welcome, {{ user.username }}! </p>
     {% csrf_token %}
     <button type="submit" class="text-white bg-red-600 px-0.5 py-0.5 sm:py-0.5 md:py-0.5 lg:py-1 sm:px-1 md:px-2 lg:px-3 rounded ml-3 text-xs sm:text-lg md:text-xl lg:text-xl">Logout</button>
    </form>
    {% else %}
     <a href="{% url 'login' %}" class='text-xs sm:text-lg md:text-xl lg:text-xl px-0.5 py-0.5 sm:py-0.5 md:py-0.5 lg:py-1 sm:px-1 md:px-2 lg:px-3 rounded-sm bg-gradient-to-r from bg-red-500 to-blue-700 text-white '>Login</a>
     <a href="{% url 'register' %}" class='text-xs sm:text-lg md:text-xl lg:text-xl px-0.5 py-0.5 sm:py-0.5 md:py-0.5 lg:py-1 sm:px-1 md:px-2 lg:px-3 rounded-sm bg-gradient-to-r from bg-red-500 to-blue-700 text-white '>Register</a>
    {% endif %}
    </div>

    {% if user.is_superuser %}
    <a href="{% url 'admin_orders' %}" class="block px-1.5 py-1 sm:px-2 sm:py-1 md:px-3 md:py-2 lg:px-3 lg:py-2 text-white text-center rounded-xl hover:text-blue-600 text-xs sm:text-sm md:text-base bg-gradient-to-r from-black to-white transition-all duration-200">
      <b>Take Orders</b>
    </a>
    {% endif %}

    <ul class="flex flex-row space-x-1 sm:space-x-2 md:space-x-2 lg:space-x-2">
      <li class="shadow-[0_0_100px_2px_white] rounded-2xl">
        <a href="{% url 'Contact' %}" class="block px-1.5 py-1 sm:px-2 sm:py-1 md:px-3 md:py-2 lg:px-3 lg:py-2 text-white text-center rounded-xl hover:text-blue-600 text-xs sm:text-sm md:text-base bg-gradient-to-r from-black to-white transition-all duration-200">
          <b>Contact</b>
        </a>
      </li>
    </ul>
  </nav>

<div class="welcome text-center mt-40 sm:mt-48 md:mt-36 lg:mt-32 text-white font-serif">
  <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold drop-shadow-xl">
    WELCOME TO SANGAM'S WEBSITE
  </h1>
  <hr class="border-white w-1/3 mx-auto mt-4">
</div>

<div class="flex flex-col justify-center items-center mt-12 px-6">
  <div class="text text-white text-base sm:text-xl md:text-2xl lg:text-3xl w-full sm:w-4/5 md:w-2/3 text-center font-mono bg-black/30 bg-opacity-60 p-8 rounded-2xl shadow-lg backdrop-blur-sm flex flex-col items-center space-y-6">
    <p>
      Hey buddy! Most Welcome to our website. Here you will be able to buy grocery on fixed MRP — no high prices, no waste product, only company-sealed and fresh items.
    </p>
    <a href="{% url 'shop' %}" class="text-white  shadow-[0_0_50px_5px_black] px-4 py-2 rounded-md transition-all duration-200">
      Get Started
    </a>
  </div>
</div>

<div class="Members text-3xl mt-20 text-center text-white font-extralight sm:text-5xl md:text-6xl lg:text-7xl"><p>~ Here is the Developer ~</p>
  <hr class="border-white w-1/3 mx-auto mt-4">
</div>

<div class="cards flex flex-col mt-10 sm:flex-col md:flex-col lg:flex-row sm:justify-center md:justify-center lg:justify-center justify-center items-center content-center gap-10">

  <div id="sangam" class="card1 flex flex-col items-center content-center opacity-0 transition-all duration-500 scale-0">
    <div class="block1 overflow-hidden content-center mt-10 h-72 w-64 sm:h-72 sm:w-64 md:h-80 md:w-72 lg:h-96 lg:w-80 border-2 rounded-2xl border-cyan-300 shadow-[0_0_50px_5px_cyan]">
      <img src="{% static 'sangam.jpg'%}" alt="image" class='h-72 w-64 sm:h-72 sm:w-64 md:h-80 md:w-72 lg:h-96 lg:w-80'>
    </div>
    <h1 class=' Name text-center text-xl sm:text-xl md:text-2xl lg:text-3xl text-white'>Sangam Jangid</h1>
    <h2 class=' Name text-center text-xl sm:text-xl md:text-2xl lg:text-3xl text-white'>Founder, Web Creator</h2>
  </div>
</div>

<div class="about flex flex-col mt-0 sm:mt-20 md:mt-20 lg:mt-20 h-[50vh] sm:h-[60vh] md:h-[70vh] lg:h-[90vh] w-full justify-center overflow-hidden">
  <a class="header text-3xl sm:text-5xl md:text-6xl lg:text-7xl text-white text-center font-extralight">~About~</a>
  <hr class="border-white w-1/6 mx-auto mt-4">

  <div class="bothbox flex justify-center place-content-center space-x-3 sm:space-x-5 md:space-x-12 lg:space-x-20 mt-20">
  <div class="left px-2 py-1 sm:py-1 md:py-2 lg:py-3 sm:px-3 md:px-5 lg:px-6 flex justify-center place-items-center bg-white/10 backdrop-blur-xl rounded-2xl scale-0 transition-all duration-1000 h-[25vh] sm:h-[40vh] md:h-[50vh] lg:h-[55vh] w-[45vw] sm:w-[40vw] md:w-[40vw] lg:w-[40vw]">
    <span class="text-xs sm:text-base md:text-lg lg:text-2xl xl:text-3xl font-extrabold ">
      Hey, I am Sangam, the creator of this website. I made this website just for fun and to empower my skills and to try something new. This is a shopping application where you can purchase food items or snacks like Tedhe Medhe, Biscuits, Namkeen, Chips and many more.
    </span>
  </div>
  <div class="right px-2 py-1 sm:py-1 md:py-2 lg:py-3 sm:px-3 md:px-5 lg:px-6 flex justify-center place-items-center bg-white/10 backdrop-blur-xl rounded-2xl scale-0 transition-all duration-1000 h-[25vh] sm:h-[40vh] md:h-[50vh] lg:h-[55vh] w-[45vw] sm:w-[40vw] md:w-[40vw] lg:w-[40vw]">
    <span class="text-xs sm:text-base md:text-lg lg:text-2xl xl:text-3xl font-extrabold ">
      Every item is on MRP — no extra charges, no expired items, only good items will be provided by us. Our interaction must be good.
    </span>
  </div>
 </div>
</div>

<footer class="rounded-sm flex flex-col items-center justify-center gap-3 mt-20 sm:mt-20 md:mt-32 lg:mt-40 py-3 w-full border-t-2 border-gray-600 bg-neutral-900">

  <h1 class="text-xl text-gray-400 font-semibold">Connect with Us</h1>
  <div class="w-32 h-0.5 bg-gray-500"></div>

  <div class="flex gap-32">
    <a href="https://www.instagram.com/sangam_0_0_jangid/"
       class="text-gray-400 text-lg hover:text-pink-500 transition duration-300">
      Instagram
      <div class="w-20 h-0.5 bg-gray-500 mt-1"></div>
    </a>

    <a href="tel:+919012203836"
       class="text-gray-400 text-lg hover:text-green-400 transition duration-300">
      Contact
      <div class="w-16 h-0.5 bg-gray-500 mt-1"></div>
    </a>
  </div>

  <p class="text-gray-600 text-sm mt-1">© 2025 RoyalStore. All rights reserved.</p>

</footer>

<script>
  const sangam = document.getElementById("sangam");
  const left = document.querySelector(".left");
  const right = document.querySelector(".right");
  window.addEventListener('scroll', () => {
  if (window.scrollY > 180) {
    sangam.classList.add('opacity-100');
    sangam.classList.add('scale-100');
  }
  else {
    sangam.classList.remove('opacity-100');
    sangam.classList.remove('scale-100');
  }
})


window.addEventListener('scroll', ()=>{
  if(window.scrollY>300){
    left.classList.add('leftbox')
    right.classList.add('rightbox')
    left.classList.remove('scale-0')
    right.classList.remove('scale-0')
    left.classList.add('scale-100')
    right.classList.add('scale-100')

  }

  else{
    left.classList.remove('leftbox')
    left.classList.remove('scale-100')
    right.classList.remove('rightbox')
    right.classList.remove('scale-100')
    left.classList.add('scale-0')
    right.classList.add('scale-0')
  }
})

</script>
</body>
</html>